<!-- Also Note that these scripts are meant to be used with a 
launch driver. In this case the interbotix control stack is
at minimum is needed-->

<!-- command is: roslaunch interbotix_xslocobot_control xslocobot_control.launch 
robot_model:=locobot_wx250s use_camera:=true use_base:=true-->



<launch>
  <!-- Global Arguments -->
  <arg name="robot_name" default="locobot"/>
  <arg name="rviz_frame" default="$(arg robot_name)/odom"/>
  <arg name="rvizconfig" default="$(find yolo_vision)/rviz/xslocobot_description_yolo.rviz"/>
  <arg name="use_cpp_yolo" default="false" doc="Set to true to use C++ implementations instead of Python"/>

  <!-- Camera Topics -->
  <arg name="rgb_topic" default="/$(arg robot_name)/camera/color/image_raw"/>

  <!-- YOLO Topics and Parameters -->
  <arg name="model_path" default="$(find yolo_vision)/models/best.pt"/>
  <arg name="annotated_image_topic" default="camera/yolo/annotated_image"/>
  
    <!-- Launch YOLO node -->
  <node name="yolo_node" pkg="yolo_vision" 
      type="$(eval 'yolo_node' if $(arg use_cpp_yolo) else 'yolo_node.py')"
      output="screen" ns="$(arg robot_name)">
      <param name="model_path" value="$(arg model_path)"/>
      <param name="image_topic" value="$(arg rgb_topic)"/>
      <param name="annotated_image_topic" value="$(arg annotated_image_topic)"/>
  </node>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" 
        args="-f $(arg rviz_frame) -d $(arg rvizconfig)"
        ns="$(arg robot_name)">
      <remap from="/clicked_point" to="clicked_point"/>
      <remap from="/initialpose" to="initialpose"/>
      <remap from="/move_base_simple/goal" to="move_base_simple/goal"/>
  </node>
</launch>