<?xml version="1.0"?>

<!-- Also Note that these scripts are meant to be used with a 
launch driver. In this case im using the interbotix nav stack -->

<!-- command is: roslaunch interbotix_xslocobot_nav xslocobot_nav_2.launch 
robot_model:=locobot_wx250s use_lidar:=true localization:=true-->


<launch>
    <arg name="destination" default="" doc="Optional destination name"/>
    
    <node pkg="move_to_pose" type="move_to_pose_node.py" name="move_to_pose" output="screen" args="$(arg destination)">
    </node>
</launch>