<?xml version="1.0" encoding="UTF-8"?>
<!-- 
This launch file initializes the scan_and_approach_node which combines
the functionality of move_to_pose_scan and approach_object nodes.

Command to use with interbotix nav stack:
roslaunch interbotix_xslocobot_nav xslocobot_nav_2.launch robot_model:=locobot_wx250s use_lidar:=true localization:=true
-->


<launch>
    <!-- Robot name parameter -->
    <arg name="robot_name" default="locobot" />
    <arg name="robot_model" default="locobot_wx250s" />

    <arg name="camera_info_topic" default="/$(arg robot_name)/camera/color/camera_info" />
    <arg name="depth_topic" default="/$(arg robot_name)/camera/depth/image_rect_raw" />
    <arg name="bbox_depth_topic" default="/$(arg robot_name)/camera/yolo/bbox_depth" />
    
    <!-- Launch the pickup object test node -->
    <node name="place_object_test" pkg="object_scout" type="place_object_test_node.py" output="screen">
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="camera_info_topic" value="$(arg camera_info_topic)"/>
        <param name="depth_topic" value="$(arg depth_topic)"/>
        <param name="bbox_depth_topic" value="$(arg bbox_depth_topic)"/>
    </node>
</launch>

